.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
    text-shadow: 0 0 10px blue;
}

.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
    will-change: transform !important;
}

.leaflet-control-zoom .leaflet-control-zoom-in,
.leaflet-control-zoom .leaflet-control-zoom-out {
    color: black !important;
    text-decoration: none !important;
}

.leaflet-left .leaflet-control {
    margin-left: 20px !important;
}

.leaflet-top .leaflet-control {
    margin-top: 20px !important;
}

.leaflet-touch .leaflet-bar {
    border: none !important;
}

.leaflet-touch .leaflet-bar a {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.leaflet-container .leaflet-control-attribution {
    padding: 0 1.75em 0 0.5em !important;
    border-radius: 4px 0 0 0 !important;
    max-width: calc(100% - 1.75em) !important;
}
