@import 'web-fonts';
@import 'colors';
@import 'themes';

* {
  @include themify($themes) {
    $labelColor: themed('primary');
    $toggleColor: themed('highlight');
    $textColor: themed('secondary');


    .preferenceOuter {
      float: right;
      min-height: 1.6em;
      right: 0;
      top: 0;
      width: 220px;
      // background: rgba($labelColor, 0);

      .preferenceLabel {
        display: inline-block;
        min-width: 6em;
      }

      .preferenceHeader {
        // color: $textColor;
        // background: rgba($labelColor, 0);
        cursor: pointer;
        height: 2em;
        line-height: 2em;
        padding-right: .5em;
        text-align: right;
      }

      .preferencePane {
        border: .5px solid rgba($labelColor, .75);
        border-right: 0;
        border-top: 0;
        font-size: 1.25em;
        line-height: 1.6em;
        padding: 1em;
      }
    }

    .toggleSwitch {
      background-color: rgba($textColor, 0);
      display: inline-block;
      position: relative;
      text-align: left;
      user-select: none;
      vertical-align: middle;
      width: 85px;

      &Checkbox {
        display: none;
      }

      &Label {
        border: 0 solid $labelColor;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        margin: 0;
        overflow: hidden;
      }

      &Inner {
        display: block;
        margin-left: -100%;
        transition: margin .3s ease-in 0s;
        width: 200%;

        &:before,
        &:after {
          box-sizing: border-box;
          color: white;
          display: block;
          float: left;
          font-size: 14px;
          font-weight: bold;
          height: 34px;
          line-height: 34px;
          padding: 0;
          width: 50%;
        }

        &:before {
          background-color: $toggleColor;
          color: $textColor;
          content: attr(data-yes);
          padding-left: 10px;
          text-transform: uppercase;
        }
      }

      &Disabled {
        background-color: $labelColor;
        cursor: not-allowed;

        &:before {
          background-color: $labelColor;
          cursor: not-allowed;
        }
      }

      &Inner {
        &:after {
          background-color: $labelColor;
          color: $textColor;
          content: attr(data-no);
          padding-right: 10px;
          text-align: right;
          text-transform: uppercase;
        }
      }

      &Switch {
        background: $textColor;
        border: 0 solid $labelColor;
        border-radius: 20px;
        bottom: 0;
        display: block;
        margin: 5px;
        position: absolute;
        right: 50px;
        top: 0;
        width: 24px;
      }

      &InnerChecked {
        margin-left: 0;
      }

      &SwitchChecked {
        right: 0;
      }

      &.smallSwitch {
        width: 40px;

        .toggleSwitchInner {
          &:after,
          &:before {
            content: '';
            height: 20px;
            line-height: 20px;
          }
        }

        .toggleSwitchSwitch {
          margin: 2px;
          right: 20px;
          width: 16px;
        }
      }
      @media screen and (max-width: 991px) {
        transform: scale(.9);
      }
      @media screen and (max-width: 767px) {
        transform: scale(.825);
      }
      @media screen and (max-width: 575px) {
        transform: scale(.75);
      }
    }

  }
}
