@import "colors";
@import "themes";

@mixin placeholderColor($color) {
  &placeholder {
    color: $color;
    transition: color 0.3s ease-in 0s;
  }
}

html,
body,
.app {
  height: 100%;
  margin: 0;
  // min-width: 800px;
  overflow: visible;
  overscroll-behavior: none;
  width: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.fillParent {
  height: 100%;
  width: 100%;
  position: relative;
}

.app {
  @include themify($themes) {
    background: themed("secondary");
    color: themed("primary");
    font-family: themed("bodyFont");
    font-size: themed("bodyFontSize");
    transition: all 0.3s ease-in 0s;
  }
}

* {
  @include themify($themes) {
    // background: inherit;
    // color: inherit;
    // font-family: inherit;
    // font-size: inherit;
    // transition: inherit;

    h1,
    h2,
    h3,
    h4 {
      font-family: themed("titleFont");
    }

    h1 {
      font-size: 2em;
    }

    a {
      color: themed("primary");
      font-family: themed("bodyFont");
      text-decoration: none;
    }

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      right: 0;
      left: 0;
      border-bottom: 2px solid themed("secondary");
      top: 0;
      min-height: 5em;
      color: themed("secondary");

      font-family: themed("bodyFont");
      padding: 2em;
      background-color: themed("primary");

      a:link, a:visited {
        color: themed("secondary");
      }
    }

    .active:hover {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }

    a:link,
    a:visited {
      text-decoration: underline;
      color: #1f78b4;
      cursor: pointer;
    }

    .fillParent {
      height: 100%;
      position: relative;
      width: 100%;
    }

    .fullWidth {
      position: relative;
      width: 100%;
    }

    .flexCenter {
      display: flex;
      flex-direction: column;

      &Horizontal,
      &Both {
        align-items: center;
      }

      &Vertical,
      &Both {
        justify-content: center;
      }
    }

    .flexRow {
      display: flex;
      flex-direction: row;
    }

    header {
      // background: mix(themed('primary'),themed('secondary'),50%);
      // color: themed('secondary');
      border-bottom: 0.2em solid themed("primary");
      flex: none;
      z-index: 1;
      background: themed("secondary");

      .siteText {
        background: rgba(themed("primary"), 0.5);
      }

      .siteLogo {
        height: 1.8em;
        width: 1.8em;
        margin: 0;
        float: left;
        color: themed("primary");
        // background: rgba(themed("primary"), 0.5);
      }

      .siteName {
        cursor: pointer;
        font-family: themed("titleFont");
        font-size: 120%;
        line-height: 1.8em;
        margin: 0 0.25em 0 0.25em;
        padding: 0;
        color: themed("secondary");
        text-decoration: none !important;
      }

      .tabHolder {
        float: right;
        background: rgba(themed("primary"), 0.5);
        height: 2em;
        overflow: visible;
        white-space:nowrap;
        text-align: center;
      }

      .tabDiv {
        float:left;
        overflow: visible;
      }

      .tab {
        color: themed("secondary");
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: 2.2em;
        line-height: 2em;
        margin-right: -1px;
        // margin-bottom: 0.2em;
        padding: 0 0.5em;
        text-decoration: none !important;

        &Highlight,
        &:hover {
          background-color: mix(themed("primary"), themed("secondary"), 90%);
          border-bottom: 0.2em solid themed("secondary");
        }

        &:hover {
          background-color: mix(themed("primary"), themed("secondary"), 75%);
        }

      }

      .nestedTab {
        overflow: hidden;
        .tabDiv {
          float:none;
          display:block;
          overflow: hidden;
          
          background-color: themed("primary");
        }
        nav {
          border-top: 0.2em solid themed("secondary");
          overflow-x: hidden;
          overflow-y: auto;
          max-height: calc( 80vh - 2em );
          // text-align:right;
          .tab {
            margin-bottom: 0;
            display: block;
            background-color: themed("primary");
  
            // margin-right: 0.2em;

            &Highlight,
            &:hover {
              // border-right: 0.2em solid themed("secondary");
              background-color: mix(themed("primary"), themed("secondary"), 90%);
              border-bottom: none;
              // margin-right: 0;
            }
            &:hover {
              background-color: mix(themed("primary"), themed("secondary"), 75%);
            }
          }
        }
      }
    }

    footer {
      background-color: themed("primary");
      color: themed("secondary");
      border-top: 0.2em solid themed("primary");
      flex: none;
      font-family: themed("bodyFont");
      font-size: 1em;
      line-height: 2em;
      min-height: 2.2em;
      padding-top: 0.2em;
      text-align: center;

      .link {
        text-decoration: underline;
        color: themed("secondary") !important;
      }

      img {
        height: 2em;
        margin: 0 0.5em;
      }
    }

    .pageTitle {
      color: themed("primary");
      background-color: themed("secondary");
      border-bottom: themed("primary") 0.1em solid;
      font-family: themed("titleFont");
      font-size: 1.25em;
      text-align: left;
      padding: 0.25em;
      &:first-letter {
        text-transform: capitalize;
      }
    }

    .searchBox {
      @include placeholderColor(
        mix(themed("primary"), themed("secondary"), 65%)
      );
      background-color: mix(themed("primary"), themed("secondary"), 5%);
      border: 2px solid mix(themed("primary"), themed("secondary"), 15%);
      font-family: themed("titleFont");
      font-size: 2em;
      margin: 0.5em;
      max-width: 80%;
      outline: none;
      padding: 0.25em;
      text-align: center;
      width: 600px;

      &:focus {
        @include placeholderColor(themed("secondary"));
        background-color: themed("secondary");
        border-color: themed("primary");
      }

      &:hover {
        @include placeholderColor(
          mix(themed("primary"), themed("secondary"), 35%)
        );
        background-color: themed("secondary");
        border-color: themed("primary");
      }
    }

    .infoPanel {
      background-color: transparent;
      margin: 1em 0;
      width: 100%;
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");

      &4Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          width: calc(calc(100% - 6em) / 4);
        }
      }

      &3Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          // min-height: 180px;
          width: calc(calc(100% - 4em) / 3);
        }
      }

      &2Column {
        .infoPane {
          // height: calc(calc(100vh - 19em) / 3);
          // min-height: 180px;
          width: calc(calc(100% - 2em) / 2);
        }
      }

      &1Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          width: 100%;
        }
      }

      .link {
        text-decoration: underline;
        color: #1f78b4;
        cursor: pointer;
      }

      code {
        font-family: themed("codeFont");
        background: mix(themed("primary"), themed("secondary"), 5%);
      }

      li {
        margin-bottom: 0.5em;
      }
    }

    .fixedAr::before {
      content: "";
      float: left;
      width: 1px;
      margin-left: -1px;
    }
    .fixedAr::after {
      content: "";
      display: table;
      clear: both;
    }

    .fixedArSixteenNine::before {
      padding-top: 56.25%;
    }

    .fixedArTenOne::before {
      padding-top: 90%;
    }

    .infoPane {
      background: mix(themed("primary"), themed("secondary"), 5%);
      border: 2px solid themed("secondary");
      color: mix(themed("primary"), themed("secondary"), 85%);
      cursor: pointer;
      margin: 0 1em;
      position: relative;
      transition: all 0s ease-in 0s;

      &Default {
        color: inherit;
        // height: calc(100vh / 4);
        // max-height: 250px;
        // min-height: 141px;
      }

      &Header {
        background-color: transparent;
        flex: 0 1 4em;
        font-family: themed("titleFont");
        font-size: 120%;
        line-height: 4em;
        padding-left: 2em;
        width: 100%;
      }

      &Content {
        background-color: transparent;
        background-position: center;
        background-size: cover;
        flex: 1 1 auto;
        overflow: hidden;
        width: 100%;
      }

      &Description {
        background: rgba(themed("secondary"), 0.75);
        box-sizing: border-box;
        opacity: 0;
        padding: 1em;
      }

      &HoverReveal {
        opacity: 1;
      }

      .root {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
      }
      .content {
        flex: 1 0 auto;
      }
      .cover {
        position: absolute;
        top: 3rem;
        bottom: 0;
        width: 100%;
        height: calc(100% - 3rem);
        background-color: themed("secondary");
        // transition: all 0s ease-in 0s;
      }
      &:hover {
        .cover {
          opacity: 0;
        }
      }
    }

    a.link {
      color: #1f78b4;
    }

    .resultPanel {
      border-top: solid 0.25px rgba(themed("primary"), 0.25);
      box-sizing: border-box;
      color: themed("primary");
      margin: 0 0 1em 0;
      padding: 0.25em;
      transition: all 0s ease-in 0s;

      .header {
        cursor: pointer;
        margin: -0.25em -0.25em 0.25em -0.25em;
        padding: 0.25em;
        color: themed("secondary");
        background-color: themed("primary");

        .identifier {
          float: right;

          &Prefix {
            color: rgba(themed("primary"), 0.75);
            font-size: 0.8em;
            line-height: 1em;
          }
        }

        .title {
          font-family: themed("titleFont");
          font-size: 1.25em;
        }
      }

      .field {
        border: solid 0.5px rgba(themed("primary"), 0.8);
        box-sizing: border-box;
        margin: 0.25em;
        cursor: pointer;

        &Highlight,
        &:hover {
          border-color: themed("primary");
          > .fieldName {
            background-color: themed("primary");
          }
        }

        &Name {
          background-color: rgba(themed("primary"), 0.8);
          font-size: 0.8em;
          line-height: 1.25em;
          padding: 0.25em;
          text-align: center;
          color: themed("secondary");

          &Highlight {
            background-color: themed("primary");
            color: themed("secondary");
          }
        }
        &Value {
          font-size: 1.2em;
          padding: 0.25em;
        }
        &Count {
          color: rgba(themed("primary"), 0.75);
          font-size: 0.8em;
          padding: 0 0.25em 0.25em 0.25em;
          margin-top: -0.25em;
          text-align: right;
        }
      }

      .arrow {
        border: solid rgba(themed("primary"), 0.75);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        cursor: pointer;
        &Right {
          transform: rotate(-45deg);
        }

        &Large {
          float: right;
          margin-top: 0.8em;
          margin-left: 2em;
          padding: 0.5em;
        }
      }
      .lineage {
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5em;
      }
      .name {
        display: block;
      }

      .tagCloud {
        span {
          cursor: pointer;
        }
      }
    }

    .textPanel {
      border-top: 0.2em solid mix(themed("primary"), themed("secondary"), 50%);
      box-sizing: border-box;
      color: themed("primary");
      margin: 1em 0 1em 0;
      padding: 0.25em;
      padding-bottom: 5em;
      transition: all 0s ease-in 0s;

      .header {
        display: block;
        margin: 0.5em 0 1em 0;
        .title {
          font-family: themed("titleFont");
          font-size: 1.5em;
        }
      }
    }

    .landing {
      min-height: calc(100% - 2em);
      overflow: auto;
      width: 100%;
    }

    .infoPage {
      box-sizing: border-box;
      min-height: calc(100% - 2em);
      overflow: visible;
      padding: 1em;
      width: 100%;
    }

    .floatRight {
      float: right;
    }

    // .solidBackground {
    //   background-color: $darkColor
    // }

    header {
      font-family: themed("titleFont");
      font-size: 1.1em;
      height: 2em;
      // left: 0;
      min-width: 100%;
      overflow: visible;
      // position: absolute;
      // top: 0;
      width: 100%;
      color: themed("secondary");
      background-color: themed("primary");
    }

    main {
      flex: 1 1 auto;
      padding-top: 1em;
    }

    .searchBox {
      font-family: themed("titleFont");
      font-size: 2em;
      padding: 0.25em;

      &::selection {
        outline: none;
        background-color: themed("faintHighlight");
      }
    }

    .completion {
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");
      margin: 0 auto;
      position: relative;
      z-index: 10;
      max-width: 600px;
      // padding: 1em 0;

      background-color: themed("secondary");
      color: themed("primary");

      .term {
        border-bottom: solid 0.25px grey;
        cursor: pointer;
        padding: 0 1em;
        &:hover {
          background-color: themed("faintHighlight");
        }
        .value,
        .extra {
          background: none;
        }
        .extra {
          width: 25%;
          text-align: left;
          float: right;
        }
      }
    }
    .autoWidth {
      width: auto;
    }
    .underscore {
      border-bottom: solid 0.2em themed("primary");
      &High {
        border-bottom-color: themed("direct");
      }
      &Medium {
        border-bottom-color: themed("descendant");
      }
      &Low {
        border-bottom-color: themed("ancestral");
      }
    }

    // .disableTheme {
    // color: unset;
    // background-color: unset;
    // * {
    //   color: inherit;
    //   background-color: inherit;

    .aggregationToggle {
      opacity: 0.25;
      filter: grayscale(100%);
      display: inline-block;
      min-height: 1rem;
      min-width: 2rem;
      &:hover,
      &Opaque {
        filter: none;
        opacity: 1;
      }
    }

    .field {
      // border: solid 0.5px rgba(themed("primary"), 0.25);
      // box-sizing: border-box;
      // margin: 0.25em;

      &Value {
        // font-size: 1.2em;
        // padding: 0.25em;

        .confidence {
          float: left;
          padding-right: 0.75em;
          height: 1.2em;
          position: relative;

          .one,
          .two,
          .three {
            height: 0.33em;
            width: 0.33em;
            position: absolute;
            background-color: rgba(themed("primary"), 0.25);
            &High {
              background-color: themed("direct");
            }
          }
          .one,
          .two {
            &Medium {
              background-color: themed("descendant");
            }
          }
          .one {
            bottom: 0;
            &Low {
              background-color: themed("ancestral");
            }
          }
          .two {
            bottom: 0.33em;
          }
          .three {
            bottom: 0.66em;
          }
        }
      }
      // }
      // }
    }

    blockquote {
      background: rgba(themed("primary"), 0.05);
      background: #f0f6fa; //#00616411;
      border-left: 10px solid #d2e4f0; //#00616433;
      font-family: themed("bodyFont");
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      max-width: 90%;

      a,
      .link {
        color: themed("primary");
      }
    }

    blockquote p {
      display: inline;
    }

    .plotDescription {
      width: calc( 100% - 2em );
      padding: 0.5em 1em;
      background-color: themed("primary");
      color: themed("secondary");
      text-align: center;
    }

    .plotContainer {
      cursor: pointer;
      a, a:link, a:visited {
        text-decoration: none;
        color:themed("secondary");
        .plotArrow {
          height: 100%;
          position: absolute;;
          top: 0;
          display: flex;
          align-items: center;
          color: themed("primary") !important;
        }
      }

      
    }

    .imageContainer {
      cursor: pointer;
      width: fit-content;
      a, a:link, a:visited {
        text-decoration: none !important;
        color:themed("secondary");
        .plotArrow {
          height: 100%;
          position: absolute;;
          top: 0;
          display: flex;
          align-items: center;
          color: themed("primary") !important;
        }
      }

      .imageCredit {
        font-size: 0.6em;
        width: calc( 100% - 1em );
        padding: 0.15em 0.5em;
        color: themed("secondary");
        text-align: center;
        white-space:nowrap;

        &Primary {
          background-color: themed("primary");
        }
        &Descendant {
          background-color: themed("descendant");
        }
        &Ancestral {
          background-color: themed("ancestral");
        }
      }

      
    }

    .blackToPrimary {
      filter: invert(17%) sepia(14%) saturate(765%) hue-rotate(198deg) brightness(98%) contrast(91%);
    }

    .blackToDirect {
      filter: invert(23%) sepia(99%) saturate(628%) hue-rotate(140deg) brightness(104%) contrast(101%);
    }

    .blackToDescendant {
      filter: invert(85%) sepia(17%) saturate(4579%) hue-rotate(327deg) brightness(100%) contrast(87%);
    }

    .blackToAncestral {
      filter: invert(35%) sepia(53%) saturate(2557%) hue-rotate(346deg) brightness(88%) contrast(95%);
    }

    .markdown {
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");

      figure {
        margin: 0;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: themed("titleFont");
      }

      h1 {
        font-size: 1.8em;
      }

      a,
      .link {
        text-decoration: underline;
        color: #1f78b4;
        cursor: pointer;
      }

      .boldValue {
        display: inline-block;
        min-width: 5em;
        text-align: right;
        margin-right: 0.5em;
        font-weight: 600;
        font-size: 1.3em;
      }

      .padded {
        margin-bottom: 3em;
      }

      .paragraph {
        padding: 1em !important;
      }


      .negativePadded {
        margin-top: -1em !important;
        padding-bottom: 0 !important;
      }

      .unpaddedParagraph {
        padding: 1em 1em 0 !important;
      }

      .inline {
        padding: 0 !important;
        margin: 0 !important;
      }

      .reportHeading,
      .reportCaption,
      .caption {
        font-weight: 600;
        color: mix(themed("primary"), themed("secondary"), 75%);
      }

      .reportCaption {
        display: inline-block;
        max-height: 50px;
        // font-size: 200%;
        overflow: visible;
      }

      .reportContainer {
        position: relative;
        min-height: 100%;
        padding: 0.5em 1em 4em;

        
      }
      .unpadded {
        padding-bottom: 0 !important;
      }

      // .reportContainer:not(:last-child):after {
      //   content: "";
      //   position: absolute;
      //   right: 2px;
      //   top: 15%;
      //   height: 70%;
      //   border-right: 0.2em solid
      //     mix(themed("primary"), themed("secondary"), 10%);
      // }

      // .reportContainer:before {
      //   content: "";
      //   position: absolute;
      //   bottom: 2px;
      //   left: 15%;
      //   width: 70%;
      //   border-bottom: 0.2em solid
      //     mix(themed("primary"), themed("secondary"), 50%);
      // }

      .centerContent {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
      }

      .centerContent :first-child {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        overflow: auto;
      }

      hr {
        border: 0;
        border-top: 0.2em solid mix(themed("primary"), themed("secondary"), 50%);
      }

      .divider {
        background-color: rgba(themed("primary"), 0.2);
        border: 0;
        margin-right: -0.2em;
        width: 0.2em;
      }

      .outline {
        border-color: mix(themed("primary"), themed("secondary"), 5%);
        border: 0.2em solid;
      }

      .direct {
        border-bottom: solid 0.2em themed("direct");
      }
      .descendant {
        border-bottom: solid 0.2em themed("descendant");
      }
      .ancestor {
        border-bottom: solid 0.2em themed("ancestral");
      }

      .square::before {
        content: "";
        float: left;
        width: 1px;
        margin-left: -1px;
        padding-top: 50%;
      }
      .square::after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
