@import "colors";
@import "themes";

@mixin placeholderColor($color) {
  &placeholder {
    color: $color;
    transition: color 0.3s ease-in 0s;
  }
}

html,
body,
.app {
  height: 100%;
  margin: 0;
  // min-width: 800px;
  overflow: visible;
  overscroll-behavior: none;
  width: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.fillParent {
  height: 100%;
  width: 100%;
  position: relative;
}

.app {
  @include themify($themes) {
    background: themed("secondary");
    color: themed("primary");
    font-family: themed("bodyFont");
    font-size: themed("bodyFontSize");
    transition: all 0.3s ease-in 0s;
  }
}

.ttOpts {
  ul {
    // list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 1.5em;

    li {
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ttSwatch {
  height: 1em;
  width: 1em;
  background-color: white;
  border: solid white 0.125em;
  margin-bottom: -0.2em;
  display: inline-block;
  margin-right: 0.5em;
  box-sizing: border-box;
  position:relative
}

.fadeIn { opacity: 1; transition: opacity 0.5s ease; }
.fadeOut { opacity: 0; transition: opacity 0.5s ease; }


* {
  @include themify($themes) {
    // background: inherit;
    // color: inherit;
    // font-family: inherit;
    // font-size: inherit;
    // transition: inherit;

    h1,
    h2,
    h3,
    h4 {
      font-family: themed("titleFont");
    }

    h1 {
      font-size: 2em;
    }

    a {
      color: themed("primary");
      font-family: themed("bodyFont");
      text-decoration: none;
    }

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      right: 0;
      left: 0;
      border-bottom: 2px solid themed("secondary");
      top: 0;
      min-height: 5em;
      color: themed("secondary");

      font-family: themed("bodyFont");
      padding: 2em;
      background-color: themed("primary");

      a:link, a:visited {
        color: themed("secondary");
      }
    }



    .loadingScreen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-color: themed("primary");
      color: themed("secondary");
      z-index: 10000;

      .loadingContainer {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the children horizontally */
        justify-content: center; /* Center align the children vertically */

        animation: pulse 2s infinite;
      }

      .loadingLogo {
        position: relative;
      }

      .loader {
        // position: fixed;
        width: 15em;
        height: 15em;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0.75em;
      }

      @keyframes pulse {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }
      
      // .loader:before,
      // .loader:after {
      //   position: absolute;
      //   background: themed("secondary");
      //   content: "";
      //   width: 1.5em;
      //   height: 1.5em;
      //   left: 0;
      //   top: 0;
      //   border-radius: 50%;
      //   animation: square 4s linear infinite;
      //   will-change: transform; /* Add this line */
      // }
      
      // .loader:after {
      //   background: themed("secondary");
      //   animation-delay: -2s;
      // }
      
      // @keyframes square {
      //   0%, 100% {
      //     left: 0;
      //     top: 0;
      //     transform: translate(0, 0);
      //   }
      //   25% {
      //     left: 100%;
      //     top: 0;
      //     transform: translate(-100%, 0);
      //   }
      //   50% {
      //     left: 100%;
      //     top: 100%;
      //     transform: translate(-100%, -100%);
      //   }
      //   75% {
      //     left: 0;
      //     top: 100%;
      //     transform: translate(0, -100%);
      //   }
      // }
    }

    .active:hover {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }

    a:link,
    a:visited {
      text-decoration: underline;
      color: #1f78b4;
      cursor: pointer;
    }

    .fillParent {
      height: 100%;
      position: relative;
      width: 100%;
    }

    .fullWidth {
      position: relative;
      width: 100%;
    }

    .flexCenter {
      display: flex;
      flex-direction: column;

      &Horizontal,
      &Both {
        align-items: center;
      }

      &Vertical,
      &Both {
        justify-content: center;
      }
    }

    .flexRow {
      display: flex;
      flex-direction: row;
    }


    .saveSearchOptions {
      font-size: 2em;
      background-color: inherit;
      padding: 0;
      &:not(:last-child) {
        margin-right: 0.25em;
      }
    }

    .favListing {
      margin-bottom: 0.5em;

      &Container {
        position: relative;
        border: solid #f0f0f0 0.1em;
        border-radius: 0.25em;
      }

      &Header {
        position: relative;
        background-color: #f0f0f0;
        min-height: 1.5em;

        .saveSearchOptions {
          float: left;
          margin-right: 0.1em;
        }
      }

      &Expand {
        position: absolute;
        right: 0;
        top: 0
      }

      &Content {
        overflow-x: scroll;
        margin: 0.5em 0.25em 1em;

        pre {
          margin: 0;
          width: fit-content;
        }
        
        hr {
          margin: 0.25em 0;
          color: themed("primary");
        }
      }

      &Button {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      &Footer {
        font-family: themed("bodyFont");
        font-size: 0.8em;
        line-height: 1.5em;
        color: mix(themed("primary"), themed("secondary"), 75%);
        margin-right: 0.5em;
      }
    }


    header {
      // background: mix(themed('primary'),themed('secondary'),50%);
      // color: themed('secondary');
      border-bottom: 0.2em solid themed("primary");
      height: 2em;
      flex: none;
      z-index: 1;
      background: themed("secondary");

      &.error {
        background: themed("ancestral");
        border-color: themed("ancestral");
      }

      .siteText {
        background: rgba(themed("primary"), 0.5);
      }

      .siteLogo {
        height: 1.8em;
        width: 1.8em;
        margin: 0;
        float: left;
        color: themed("primary");
        // background: rgba(themed("primary"), 0.5);
      }

      .siteName {
        cursor: pointer;
        font-family: themed("titleFont");
        font-size: 120%;
        line-height: 1.8em;
        margin: 0 0.25em 0 0.25em;
        padding: 0;
        color: themed("secondary");
        text-decoration: none !important;
      }

      .tabHolder {
        float: right;
        background: rgba(themed("primary"), 0.5);
        height: 2em;
        overflow: visible;
        white-space:nowrap;
        text-align: center;
      }

      .tabDiv {
        float:left;
        overflow: visible;
      }

      .tab {
        color: themed("secondary");
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: 2.2em;
        line-height: 2em;
        margin-right: -1px;
        // margin-bottom: 0.2em;
        padding: 0 0.5em;
        text-decoration: none !important;

        &Highlight,
        &:hover {
          background-color: mix(themed("primary"), themed("secondary"), 90%);
          border-bottom: 0.2em solid themed("secondary");
        }

        &:hover {
          background-color: mix(themed("primary"), themed("secondary"), 75%);
        }

      }

      .nestedTab {
        overflow: hidden;
        .tabDiv {
          float:none;
          display:block;
          overflow: hidden;
          
          background-color: themed("primary");
        }
        nav {
          border-top: 0.2em solid themed("secondary");
          overflow-x: hidden;
          overflow-y: auto;
          max-height: calc( 80vh - 2em );
          // text-align:right;
          .tab {
            margin-bottom: 0;
            display: block;
            background-color: themed("primary");
  
            // margin-right: 0.2em;

            &Highlight,
            &:hover {
              // border-right: 0.2em solid themed("secondary");
              background-color: mix(themed("primary"), themed("secondary"), 90%);
              border-bottom: none;
              // margin-right: 0;
            }
            &:hover {
              background-color: mix(themed("primary"), themed("secondary"), 75%);
            }
          }
        }
      }
      .searchIcon {
        float: right;
        line-height: 2em;
      }
    }

    footer {
      background-color: themed("primary");
      color: themed("secondary");
      border-top: 0.2em solid themed("primary");
      flex: none;
      font-family: themed("bodyFont");
      font-size: 1em;
      line-height: 2em;
      min-height: 2.2em;
      padding-top: 0.2em;
      text-align: center;

      .link {
        text-decoration: underline;
        color: themed("secondary") !important;
      }

      img {
        height: 2em;
        margin: 0 0.5em;
      }
    }

    .pageTitle {
      color: themed("primary");
      background-color: themed("secondary");
      border-bottom: themed("primary") 0.1em solid;
      font-family: themed("titleFont");
      font-size: 1.25em;
      text-align: left;
      padding: 0.25em;
      &:first-letter {
        text-transform: capitalize;
      }
    }

    .searchBox {
      @include placeholderColor(
        mix(themed("primary"), themed("secondary"), 65%)
      );
      background-color: mix(themed("primary"), themed("secondary"), 5%);
      border: 2px solid mix(themed("primary"), themed("secondary"), 15%);
      font-family: themed("titleFont");
      font-size: 2em;
      margin: 0.5em;
      max-width: 80%;
      outline: none;
      padding: 0.25em;
      text-align: center;
      width: 600px;

      &:focus {
        @include placeholderColor(themed("secondary"));
        background-color: themed("secondary");
        border-color: themed("primary");
      }

      &:hover {
        @include placeholderColor(
          mix(themed("primary"), themed("secondary"), 35%)
        );
        background-color: themed("secondary");
        border-color: themed("primary");
      }
    }

    .infoPanel {
      background-color: transparent;
      margin: 1em 0;
      width: 100%;
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");

      &4Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          width: calc(calc(100% - 6em) / 4);
        }
      }

      &3Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          // min-height: 180px;
          width: calc(calc(100% - 4em) / 3);
        }
      }

      &2Column {
        .infoPane {
          // height: calc(calc(100vh - 19em) / 3);
          // min-height: 180px;
          width: calc(calc(100% - 2em) / 2);
        }
      }

      &1Column {
        .infoPane {
          // height: calc(calc(100vh - 17em) / 2);
          width: 100%;
        }
      }

      .link {
        text-decoration: underline;
        color: #1f78b4;
        cursor: pointer;
      }

      code {
        font-family: themed("codeFont");
        background: mix(themed("primary"), themed("secondary"), 5%);
      }

      li {
        margin-bottom: 0.5em;
      }
    }

    .fixedAr::before {
      content: "";
      float: left;
      width: 1px;
      margin-left: -1px;
    }
    .fixedAr::after {
      content: "";
      display: table;
      clear: both;
    }

    .fixedArSixteenNine::before {
      padding-top: 56.25%;
    }

    .fixedArTenOne::before {
      padding-top: 90%;
    }

    .infoPane {
      background: mix(themed("primary"), themed("secondary"), 5%);
      border: 2px solid themed("secondary");
      color: mix(themed("primary"), themed("secondary"), 85%);
      cursor: pointer;
      margin: 0 1em;
      position: relative;
      transition: all 0s ease-in 0s;

      &Default {
        color: inherit;
        // height: calc(100vh / 4);
        // max-height: 250px;
        // min-height: 141px;
      }

      &Header {
        background-color: transparent;
        flex: 0 1 4em;
        font-family: themed("titleFont");
        font-size: 120%;
        line-height: 4em;
        padding-left: 2em;
        width: 100%;
      }

      &Content {
        background-color: transparent;
        background-position: center;
        background-size: cover;
        flex: 1 1 auto;
        overflow: hidden;
        width: 100%;
      }

      &Description {
        background: rgba(themed("secondary"), 0.75);
        box-sizing: border-box;
        opacity: 0;
        padding: 1em;
      }

      &HoverReveal {
        opacity: 1;
      }

      .root {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
      }
      .content {
        flex: 1 0 auto;
      }
      .cover {
        position: absolute;
        top: 3rem;
        bottom: 0;
        width: 100%;
        height: calc(100% - 3rem);
        background-color: themed("secondary");
        // transition: all 0s ease-in 0s;
      }
      &:hover {
        .cover {
          opacity: 0;
        }
      }
    }

    a.link {
      color: #1f78b4;
    }

    input.chip {
      background-color: transparent;
      border: 0 solid;
      color: themed("secondary");
      &:focus {
        background-color: themed("secondary");
        color: themed("primary");
        outline: none;
        &::placeholder {
          color: transparent;
          opacity: 1; /* Firefox */
        }
      }
    }
    .filesTitle {
      font-family: themed("titleFont");
      font-size: 1.25em;
      line-height: 2em;
    }

    .resultPanel {
      border-top: solid 0.25px rgba(themed("primary"), 0.25);
      box-sizing: border-box;
      color: themed("primary");
      margin: 0 0 1em 0;
      padding: 0.25em;
      transition: all 0s ease-in 0s;

      .header {
        cursor: pointer;
        margin: -0.25em -0.25em 0.25em -0.25em;
        padding: 0.35em;
        color: themed("secondary");
        background-color: themed("primary");
        border-radius: 0.25em;

        .identifier {
          float: right;

          &Prefix {
            color: rgba(themed("primary"), 0.75);
            font-size: 0.8em;
            line-height: 1em;
          }
        }

        .title {
          font-family: themed("titleFont");
          font-size: 1.25em;
        }
      }

      .field {
        border: solid 0.5px rgba(themed("primary"), 0.8);
        box-sizing: border-box;
        margin: 0.25em;
        cursor: pointer;

        &Highlight,
        &:hover {
          border-color: themed("primary");
          > .fieldName {
            background-color: themed("primary");
          }
        }

        &Name {
          background-color: rgba(themed("primary"), 0.8);
          font-size: 0.8em;
          line-height: 1.25em;
          padding: 0.25em;
          text-align: center;
          color: themed("secondary");

          &Highlight {
            background-color: themed("primary");
            color: themed("secondary");
          }
        }
        &Value {
          font-size: 1.2em;
          padding: 0.25em;
        }
        &Count {
          color: rgba(themed("primary"), 0.75);
          font-size: 0.8em;
          padding: 0 0.25em 0.25em 0.25em;
          margin-top: -0.25em;
          text-align: right;
        }
      }

      .arrow {
        border: solid rgba(themed("primary"), 0.75);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        cursor: pointer;
        &Right {
          transform: rotate(-45deg);
        }

        &Large {
          float: right;
          margin-top: 0.8em;
          margin-left: 2em;
          padding: 0.5em;
        }
      }
      .lineage {
        cursor: pointer;
        display: inline-block;
        background-color: mix(themed("descendant"), themed("secondary"), 10%);
        padding: 0.25em;
        margin: 0.25em 0.5em 0.25em 0;
        border-radius: 0.25em;
        border: solid 2px themed("descendant");

        &Direct {
          background-color: mix(themed("direct"), themed("secondary"), 10%);
          border-color: themed("direct");
        }

        .rank {
          color: rgba(themed("primary"), 0.75);
          font-size: 0.75em;
          display: block;
          width: 100%;
          line-height: 0.75em;
          height: 1em;
        }

        .bold {
          font-weight: bold;
        }
      }
      
      .nameGroup {
        display: block;
        margin: 0.5em 0;

        .title {
          display: table-cell;
          font-size: 0.9em;
          font-weight: bold;
          min-width: 10em;
        }

        .content {
          margin: 0.5em 0 0.5em 0;
          
          display: table-cell;
        }

        .name:not(:last-of-type):after {
          content: ", ";
        }

        .bold {
          font-size: 1.5em;
          font-weight: bold;
        }
      }

      .tagCloud {
        span {
          cursor: pointer;
        }
      }
    }

    .textPanel {
      border-top: 0.2em solid mix(themed("primary"), themed("secondary"), 50%);
      box-sizing: border-box;
      color: themed("primary");
      margin: 1em 0 1em 0;
      padding: 0.25em;
      padding-bottom: 5em;
      transition: all 0s ease-in 0s;

      .header {
        display: block;
        margin: 0.5em 0 1em 0;
        .title {
          font-family: themed("titleFont");
          font-size: 1.5em;
        }
      }
    }

    .landing {
      min-height: calc(100% - 2em);
      overflow: auto;
      width: 100%;
    }

    .infoPage {
      box-sizing: border-box;
      min-height: calc(100% - 2em);
      overflow: visible;
      padding: 1em;
      width: 100%;
      font-family: themed("bodyFont");

    }

    .floatRight {
      float: right;
    }

    // .solidBackground {
    //   background-color: $darkColor
    // }

    header {
      font-family: themed("titleFont");
      font-size: 1.1em;
      height: 2em;
      // left: 0;
      min-width: 100%;
      overflow: visible;
      // position: absolute;
      // top: 0;
      width: 100%;
      color: themed("secondary");
      background-color: themed("primary");
    }

    main {
      flex: 1 1 auto;
      padding-top: 1em;
    }

    .searchBox {
      font-family: themed("titleFont");
      font-size: 2em;
      padding: 0.25em;

      &::selection {
        outline: none;
        background-color: themed("faintHighlight");
      }
    }

    .completion {
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");
      margin: 0 auto;
      position: relative;
      z-index: 10;
      max-width: 600px;
      // padding: 1em 0;

      background-color: themed("secondary");
      color: themed("primary");

      .term {
        border-bottom: solid 0.25px grey;
        cursor: pointer;
        padding: 0 1em;
        &:hover {
          background-color: themed("faintHighlight");
        }
        .value,
        .extra {
          background: none;
        }
        .extra {
          width: 25%;
          text-align: left;
          float: right;
        }
      }
    }
    .autoWidth {
      width: auto;
    }
    .underscore {
      border-bottom: solid 0.2em themed("primary");
      &High {
        border-bottom-color: themed("direct");
      }
      &Medium {
        border-bottom-color: themed("descendant");
      }
      &Low {
        border-bottom-color: themed("ancestral");
      }
    }

    // .disableTheme {
    // color: unset;
    // background-color: unset;
    // * {
    //   color: inherit;
    //   background-color: inherit;

    .aggregationToggle {
      opacity: 0.25;
      filter: grayscale(100%);
      display: inline-block;
      min-height: 1rem;
      min-width: 2rem;
      &:hover,
      &Opaque {
        filter: none;
        opacity: 1;
      }
    }

    .field {
      // border: solid 0.5px rgba(themed("primary"), 0.25);
      // box-sizing: border-box;
      // margin: 0.25em;

      &Value {
        // font-size: 1.2em;
        // padding: 0.25em;

        .confidence {
          float: left;
          padding-right: 0.75em;
          height: 1.2em;
          position: relative;

          .one,
          .two,
          .three {
            height: 0.33em;
            width: 0.33em;
            position: absolute;
            background-color: rgba(themed("primary"), 0.25);
            &High {
              background-color: themed("direct");
            }
          }
          .one,
          .two {
            &Medium {
              background-color: themed("descendant");
            }
          }
          .one {
            bottom: 0;
            &Low {
              background-color: themed("ancestral");
            }
          }
          .two {
            bottom: 0.33em;
          }
          .three {
            bottom: 0.66em;
          }
        }
      }
      // }
      // }
    }

    blockquote {
      background: rgba(themed("primary"), 0.05);
      background: #f0f6fa; //#00616411;
      border-left: 10px solid #d2e4f0; //#00616433;
      font-family: themed("bodyFont");
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      max-width: 90%;

      a,
      .link {
        color: themed("primary");
      }
    }

    blockquote p {
      display: inline;
    }

    .plotDescription {
      width: calc( 100% - 2em );
      padding: 0.5em 1em;
      background-color: themed("primary");
      color: themed("secondary");
      text-align: center;
    }

    .plotContainer {
      cursor: pointer;
      a, a:link, a:visited {
        text-decoration: none;
        color:themed("secondary");
        .plotArrow {
          height: 100%;
          position: absolute;;
          top: 0;
          display: flex;
          align-items: center;
          color: themed("primary") !important;
        }
      }

      
    }

    .imageContainer {
      cursor: pointer;
      width: fit-content;
      a, a:link, a:visited {
        text-decoration: none !important;
        color:themed("secondary");
        .plotArrow {
          height: 100%;
          position: absolute;;
          top: 0;
          display: flex;
          align-items: center;
          color: themed("primary") !important;
        }
      }

      .imageCredit {
        font-size: 0.6em;
        width: calc( 100% - 1em );
        padding: 0.15em 0.5em;
        color: themed("secondary");
        text-align: center;
        white-space:nowrap;

        &Primary {
          background-color: themed("primary");
        }
        &Descendant {
          background-color: themed("descendant");
        }
        &Ancestral {
          background-color: themed("ancestral");
        }
      }

      
    }

    .blackToPrimary {
      filter: invert(17%) sepia(14%) saturate(765%) hue-rotate(198deg) brightness(98%) contrast(91%);
    }

    .blackToDirect {
      filter: invert(23%) sepia(99%) saturate(628%) hue-rotate(140deg) brightness(104%) contrast(101%);
    }

    .blackToDescendant {
      filter: invert(85%) sepia(17%) saturate(4579%) hue-rotate(327deg) brightness(100%) contrast(87%);
    }

    .blackToAncestral {
      filter: invert(35%) sepia(53%) saturate(2557%) hue-rotate(346deg) brightness(88%) contrast(95%);
    }

    .badge {
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");
      margin: 0 auto;
      position: relative;
      margin: 0.15rem;
      // width: calc(50% - 0.75rem);
      width: 26.75rem;
      // @media (min-width: 110rem) {
      //   width: calc(33% - 0.75rem);
      // }
      min-height: 4.5em;
      height: auto;
      color: themed("secondary");
      display: inline-block;

      &:before {
        content: "";
        position: absolute;
        left: -2.15rem;
        top: 1.7rem;
        width: 2.15rem;
        border-top: 0.2rem solid themed("primary");
      }

      // &:last-of-type:after {
      //   border-color: red;
      // }

      .bg, .mainInfo {
        top: 0;
        left: 0;
        position: relative;
        width: 100%;
        height: 4.5em;
        margin-bottom: 0.35rem;
        background-color: themed("primary");
        border-radius: 0.5rem;
      }

      .bg {
        cursor: pointer;
      }

      .img {
        height: 4em;
        width: 4em;
        top: 0.25em;
        left: 0.25em;
        padding: 0.25em;
        box-sizing: border-box;
        border-radius: 0.25em;
        color: themed("primary");
        background-color: themed("secondary");
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;

        .imageContainer {
          cursor: pointer;
          width: 100%;
        }

        .blank {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      

      .id {
        top: 0.1rem;
        left: 4.25rem;
        position: absolute;
      }

      .name {
        top: 1.25rem;
        left: 4.25rem;
        right: 0.25rem;
        font-family: themed("titleFont");
        font-size: 1.5em;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          // background-color: themed("primary");
          // background-color: red;
          width: 1.5rem;
          @include fadeFromPercent(left, themed("primary"), 0%)
        }
      }

      .current {
        .name {
          // background-color: themed("primary");
          text-decoration: underline;
        }
      }

      .rank {
        right: 0.3rem;
        top: 0.1rem;
        position: absolute;
      }

      .links {
        right: 0.3rem;
        top: 2.75rem;
        position: absolute;

        a {
          margin-right: 1rem;
          color: mix(themed("secondary"), themed("primary"), 85%);
          position: relative;
          text-decoration: none;
          user-select: none;

          &.disabled {
            pointer-events: none;
            color: mix(themed("secondary"), themed("primary"), 25%);
          }

          &:hover {
            color: themed("secondary");
          }

          &:not(:first-of-type):before {
            content: "";
            position: absolute;
            left: -0.5rem;
            top: 20%;
            height: 70%;
            border-left: 1px solid mix(themed("secondary"), themed("primary"), 85%);
          }

          &.active, &.expanded {
            color: themed("secondary");
            font-weight: bold;

            &:hover {
              color: mix(themed("secondary"), themed("primary"), 85%);
            }
          }

          &.expanded {

            &:after {
              content: "";
              position: absolute;
              left: -0.5rem;
              right: -0.5rem;
              top: 100%;
              background-color: themed("primary");
              height: 0.5rem;
            }
          }

          &:last-of-type {
            margin-right: 0;
            &.expanded {

              &:after {
                right: 0.1rem;
              }
            }
          }
        }
      }

      .nested {
        left: 4rem;
        position: relative;
        margin-bottom: 0.35rem;
        background-color: themed("primary");
        padding: 0.25rem 0.5rem;
        width: calc(100% - 5rem);
        border-radius: 0.5em;
      }

      .nestedBadge {
        left: 1rem;
        position: relative;
        min-height: 4.5rem;
        width: calc(100% + 1rem);

        .badge {
          width: calc(100% - 1.09em);
        }
      }

      .maskParent {
        background-color: themed("secondary");
        position: absolute;
        margin-left: -2.3rem;
        top: 1.9rem;
        bottom: 1rem;
        width: 0.5rem;
        z-index: 1;
      }

      .badgeInfo {

        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        margin: 0.25rem;
        border-radius: 0.25rem;
        padding: 0 0.5em 0.05em;
        background-color: themed("secondary");

        .infoName {
          font-family: themed("bodyFont");
          color: mix(themed("secondary"), themed("primary"), 10%);
          position: relative;
          border-bottom: 0.1rem solid mix(themed("primary"), themed("secondary"), 15%);
        }

        .infoValue {
          margin-left: 0.5rem;
          color: themed("primary");
          font-family: themed("titleFont");
          font-size: 1.5em;
          display: inline-block;
          position: relative;
        }

      }

      .badgeInfoSelected {
        .infoName {
          border-bottom: 0.1rem solid themed("primary");
        }
      }

      .badgeInfoMore {
        width: 100%;
        margin-top: 0.25rem;
        text-align: right;
        display: block;

        a {
          color: mix(themed("secondary"), themed("primary"), 85%);
          text-decoration: none;
          user-select: none;
          position: relative;

          &.disabled {
            pointer-events: none;
            color: mix(themed("secondary"), themed("primary"), 25%);
          }

          &:hover {
            color: themed("secondary");
          }
        }
      }

      .mainInfo {
        position: absolute;
        left: calc(100% + 0.35rem);
        // left: calc(100% + 5.35rem);
        width: fit-content;
        margin-bottom: 0;

        // &:before {
        //   content: "";
        //   position: absolute;
        //   left: -10.35rem;
        //   width: 10.35rem;
        //   // top: calc(50% - 0.25rem);
        //   top: 50%;
        //   // background-color: themed("primary");
        //   border-top: solid 0.2rem themed("primary");
        //   // height: 0.5rem;
        // }
      }

    }
    
    .badgeExpanded {
      &:after {
        content: "";
        position: absolute;
        left: -1rem;
        top: 1.7rem;
        bottom: 3.1rem;
        width: 1rem;
        border-left: 0.2rem solid themed("primary");
      }
    }

    .resultsTable {
      max-height: 90vh;
      border: solid mix(themed("primary"), themed("secondary"), 10%) 3px;

      table {
        border-collapse: separate;

        thead {
          position: sticky;
          top: 0;
          z-index: 200;
          background-color: #f8f8f8;

          tr {
            th: {
              border-bottom: none;
            }

            th:first-of-type {
              border-right: solid mix(themed("primary"), themed("secondary"), 10%) 3px;
            }
          }

          tr:last-of-type {
            th {
              border-bottom: solid mix(themed("primary"), themed("secondary"), 10%) 3px;
            }
          }
        }

        tbody {
          tr {
            td:first-of-type {
              border-right: solid mix(themed("primary"), themed("secondary"), 10%) 3px;
            }
          }
          tr:last-of-type {
            td {
              border-bottom: none;
            }
          }
        }

        thead, tbody {
          tr, td {
            .contrast {
              background-color: mix(themed("primary"), themed("secondary"), 5%)
            }

            .first {
              border-left: solid mix(themed("primary"), themed("secondary"), 10%) 2px;
            }

            .last {
              border-right: solid mix(themed("primary"), themed("secondary"), 10%) 2px;
            
              & + .first {
                border-left: none;
              }
            }
          }
        }
      }
    }

    .attrInfo {

      position: relative;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      margin: 0.25rem;
      border-radius: 0.25rem;
      padding: 0 0.5em 0.05em;
      background-color: themed("secondary");
      border: solid 3px themed("primary");

      .infoName {
        font-family: themed("bodyFont");
        color: mix(themed("secondary"), themed("primary"), 10%);
        position: relative;
        border-bottom: 0.1rem solid mix(themed("primary"), themed("secondary"), 15%);
      }

      .infoValue {
        margin-left: 0.5rem;
        color: themed("primary");
        font-family: themed("titleFont");
        font-size: 1.5em;
        display: inline-block;
        position: relative;
      }

      &:hover {
        filter: invert(0.1);
      }

    }


    .markdown {
      font-family: themed("bodyFont");
      font-size: themed("bodyFontSize");

      figure {
        margin: 0;
      }

      h1,
      h2,
      h3,
      h4 {
        font-family: themed("titleFont");
      }

      h1 {
        font-size: 1.8em;
      }

      a,
      .link {
        text-decoration: underline;
        color: #1f78b4;
        cursor: pointer;
      }

      .boldValue {
        display: inline-block;
        min-width: 5em;
        text-align: right;
        margin-right: 0.5em;
        font-weight: 600;
        font-size: 1.3em;
      }

      .padded {
        margin-bottom: 3em;
      }

      .paragraph {
        padding: 1em !important;
      }


      .negativePadded {
        margin-top: -1em !important;
        padding-bottom: 0 !important;
      }

      .unpaddedParagraph {
        padding: 1em 1em 0 !important;
      }

      .inline {
        padding: 0 !important;
        margin: 0 !important;
      }

      .reportHeading,
      .reportCaption,
      .caption {
        font-weight: 600;
        color: mix(themed("primary"), themed("secondary"), 75%);
      }

      .reportCaption {
        display: inline-block;
        max-height: 50px;
        // font-size: 200%;
        overflow: visible;
      }

      .reportContainer {
        position: relative;
        min-height: 100%;
        padding: 0.5em 1em 4em;

        
      }
      .unpadded {
        padding-bottom: 0 !important;
      }

      // .reportContainer:not(:last-child):after {
      //   content: "";
      //   position: absolute;
      //   right: 2px;
      //   top: 15%;
      //   height: 70%;
      //   border-right: 0.2em solid
      //     mix(themed("primary"), themed("secondary"), 10%);
      // }

      // .reportContainer:before {
      //   content: "";
      //   position: absolute;
      //   bottom: 2px;
      //   left: 15%;
      //   width: 70%;
      //   border-bottom: 0.2em solid
      //     mix(themed("primary"), themed("secondary"), 50%);
      // }

      .centerContent {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
      }

      .centerContent :first-child {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        overflow: auto;
      }

      hr {
        border: 0;
        border-top: 0.2em solid mix(themed("primary"), themed("secondary"), 50%);
      }

      .divider {
        background-color: rgba(themed("primary"), 0.2);
        border: 0;
        margin-right: -0.2em;
        width: 0.2em;
      }

      .outline {
        border-color: mix(themed("primary"), themed("secondary"), 5%);
        border: 0.2em solid;
      }

      .direct {
        border-bottom: solid 0.2em themed("direct");
      }
      .descendant {
        border-bottom: solid 0.2em themed("descendant");
      }
      .ancestor {
        border-bottom: solid 0.2em themed("ancestral");
      }

      .square::before {
        content: "";
        float: left;
        width: 1px;
        margin-left: -1px;
        padding-top: 50%;
      }
      .square::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .recordLinkIcon {
      height: 1.5em;
      width: 1.5em;
      margin: 0 0.25em -0.2em 0;
      display: inline-block;
    }
  }
}
