name: package-genomehubs-archive

on: workflow_dispatch

env:
  ARCHIVE_VERSION: 2025.04.21

jobs:
  build-api-archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Generate handlers and build bundle
        working-directory: ./src/genomehubs-api
        run: |
          npm ci
          node scripts/generate-operation-handlers.cjs src/generated
          npm run build:bundle
      - uses: actions/upload-artifact@v4
        with:
          name: genomehubs-api-bundle
          path: ./src/genomehubs-api/build/*

  package-goat-ui-archive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - run: npm install -g pkg
      - run: |
          git clone https://github.com/genomehubs/goat-ui
          mv goat-ui/static/* src/genomehubs-ui/src/client/static/
          mv goat-ui/files/favicon/* src/genomehubs-ui/src/client/favicon/
          mv goat-ui/files/components/* src/genomehubs-ui/src/client/views/components/
          mv goat-ui/files/html/index.html src/genomehubs-ui/src/client/index.html
          rm -rf goat-ui
      - run: ./package-ui.sh
        env:
          GH_API_URL: "https://goat.genomehubs.org/api/${{ env.ARCHIVE_VERSION }}"
          GH_ARCHIVE: "latest 2024.09.14 2024.03.01 2023.10.16 2023.05.18 2023.02.20 2022.11.16"
          GH_BASENAME: ${{ env.ARCHIVE_VERSION }}
          GH_SITENAME: GoaT
          GH_SUGGESTED_TERM: Canidae
      - uses: actions/upload-artifact@v4
        with:
          name: goat-ui
          path: ./dist/*

  build-and-push-goat-ui-archive:
    runs-on: ubuntu-latest
    needs: package-goat-ui-archive
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{github.ref}}
      - uses: actions/download-artifact@v4
        with:
          name: goat-ui
          path: ./dist
      - run: |
          mv dist/genomehubs-ui-linux src/docker/goat/
          rm -r dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/goat
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker/goat
          push: true
          tags: genomehubs/goat:${{ env.ARCHIVE_VERSION }}
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-api-archive:
    runs-on: ubuntu-latest
    needs: build-api-archive
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/genomehubs-api
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: src/docker/api/Dockerfile
          push: true
          tags: genomehubs/genomehubs-api:${{ env.ARCHIVE_VERSION }}
          labels: ${{ steps.meta.outputs.labels }}
