name: package-genomehubs-develop

on: workflow_dispatch

jobs:
  package-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install -g pkg
      - run: |
          ./package-ui.sh
          mv ./dist/genomehubs-ui-linux-x64 ./dist/genomehubs-ui-linux || exit 0
      - uses: actions/upload-artifact@v4
        with:
          name: genomehubs-ui
          path: ./dist/*

  build-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/setup-node@v3
        with:
          node-version: "24"
      - name: Generate handlers and build bundle
        working-directory: ./src/genomehubs-api
        run: |
          npm ci
          node scripts/generate-operation-handlers.cjs src/generated
          npm run build:bundle
      - uses: actions/upload-artifact@v4
        with:
          name: genomehubs-api-bundle
          path: ./src/genomehubs-api/build/*

  package-genomehubs-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - name: Pip install genomehubs
        run: |
          wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
          bash Miniforge3.sh -b -p "${HOME}/conda"
          source "${HOME}/conda/etc/profile.d/conda.sh"
          source "${HOME}/conda/etc/profile.d/mamba.sh"
          conda create -n genomehubs python=3.9
          conda activate genomehubs
          conda install pip
          pip install --upgrade pip
          pip install setuptools wheel twine
          ./pip_install_latest.sh manylinux2014_x86_64
          genomehubs -v
      - uses: actions/upload-artifact@v4
        with:
          name: genomehubs
          path: ./dist/*

  package-goat-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install -g pkg
      - run: |
          git clone -b main --single-branch https://github.com/genomehubs/goat-ui
          mv goat-ui/static/* src/genomehubs-ui/src/client/static/
          mv goat-ui/files/favicon/* src/genomehubs-ui/src/client/favicon/
          mv goat-ui/files/components/* src/genomehubs-ui/src/client/views/components/
          mv goat-ui/files/html/index.html src/genomehubs-ui/src/client/index.html
          cd goat-ui
          echo "GH_COMMIT_HASH=$(git log -n 1 --pretty=format:'%H')" >> $GITHUB_ENV
          cd -
          rm -r goat-ui
      - run: ./package-ui.sh
        env:
          GH_API_URL: "https://goat.genomehubs.org/api/v2"
          GH_ARCHIVE: "latest 2024.09.14 2024.03.01 2023.10.16 2023.05.18 2023.02.20 2022.11.16"
          GH_BASENAME: ""
          GH_SITENAME: GoaT
          GH_SUGGESTED_TERM: Canidae
      - uses: actions/upload-artifact@v4
        with:
          name: goat-ui
          path: ./dist/*

  package-boat-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install -g pkg
      - run: |
          git clone https://github.com/genomehubs/boat-ui
          mv boat-ui/static/* src/genomehubs-ui/src/client/static/
          mv boat-ui/files/favicon/* src/genomehubs-ui/src/client/favicon/
          mv boat-ui/files/components/* src/genomehubs-ui/src/client/views/components/
          cd boat-ui
          echo "GH_COMMIT_HASH=$(git log -n 1 --pretty=format:'%H')" >> $GITHUB_ENV
          cd -
          rm -rf boat-ui
      - run: ./package-ui.sh
        env:
          GH_API_URL: "https://boat.genomehubs.org/api/v2"
          GH_BASENAME: ""
          GH_SITENAME: BoaT
          GH_SUGGESTED_TERM: Lepidoptera
      - uses: actions/upload-artifact@v4
        with:
          name: boat-ui
          path: ./dist/*

  build-and-push-genomehubs:
    runs-on: ubuntu-latest
    needs: package-genomehubs-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        with:
          name: genomehubs
          path: ./dist
      - run: |
          mv dist/*manylinux2014_x86_64.whl src/docker/
          rm -rf dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/genomehubs
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker
          push: true
          tags: genomehubs/genomehubs:develop
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-api:
    runs-on: ubuntu-latest
    needs: build-api
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/genomehubs-api
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: src/docker/api/Dockerfile
          push: true
          tags: genomehubs/genomehubs-api:develop
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-ui:
    runs-on: ubuntu-latest
    needs: package-ui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        with:
          name: genomehubs-ui
          path: ./dist
      - run: |
          mv dist/genomehubs-ui-linux src/docker/ui/
          rm -rf dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/genomehubs-ui
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker/ui
          push: true
          tags: genomehubs/genomehubs-ui:develop
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-goat-ui:
    runs-on: ubuntu-latest
    needs: package-goat-ui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/download-artifact@v4
        with:
          name: goat-ui
          path: ./dist
      - run: |
          mv dist/genomehubs-ui-linux src/docker/goat/
          rm -rf dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/goat
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker/goat
          push: true
          tags: genomehubs/goat:develop
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-boat-ui:
    runs-on: ubuntu-latest
    needs: package-boat-ui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
      - uses: actions/download-artifact@v4
        with:
          name: boat-ui
          path: ./dist
      - run: |
          mv dist/genomehubs-ui-linux src/docker/boat/
          rm -rf dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/boat
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker/boat
          push: true
          tags: genomehubs/boat:develop
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-genomehubs-test:
    runs-on: ubuntu-latest
    needs:
      - package-genomehubs-linux
      - build-api
      - package-ui
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        with:
          path: ./dist
      - run: |
          mv dist/genomehubs/*manylinux2014_x86_64.whl src/docker/test
          mkdir -p src/docker/test/genomehubs-api
          cp dist/genomehubs-api/bundle.cjs src/docker/test/genomehubs-api/
          cp dist/genomehubs-api/package.json src/docker/test/genomehubs-api/
          mv dist/genomehubs-ui/genomehubs-ui-linux src/docker/test/
          cp tests/integration_tests/ui/test-ui.mjs src/docker/test/
          rm -rf dist/*
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: genomehubs/genomehubs-test
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: src/docker/test
          push: true
          tags: genomehubs/genomehubs-test:develop
          labels: ${{ steps.meta.outputs.labels }}
